<p>Enter user name to vote for a topic.</p>

<form (submit)="enterUsername()">
  <input [(ngModel)]="newName" name="newName" placeholder="Enter name">
  <button type="submit">Submit</button>
</form>

<p *ngIf="user">Username: {{ user }}</p>

<h1>Top 20 Topics</h1>
<ul>
  <li *ngFor="let topic of topics.slice(0, 20).sort(sortTopicsByVotes)">
    Topic: {{ topic.name }}, Votes: {{ topic.votes }}
  </li>
</ul>

<h1>Complete List of Topics</h1>
<ul>
  <li *ngFor="let topic of topics.sort(sortTopicsByAlphabeticalOrder)">
    Topic: {{ topic.name }}, Votes: {{ topic.votes }}
    <button *ngIf="user" (click)="upVote(topic)">Up</button>
    <button *ngIf="user" (click)="downVote(topic)">Down</button>
  </li>
</ul>



