<h5>Enter user name to add a new topic or vote for a topic. Scroll down to vote.</h5>

<br>

<form (submit)="enterUsername()">
  <input [(ngModel)]="newName" name="newName" placeholder="Enter name">
  <button class="btn" type="submit">Submit</button>
</form>

<h5 *ngIf="user">Logged in as: {{ user }}</h5>

<form *ngIf="user" (submit)="enterNewTopic()">
  <input [(ngModel)]="newTopic" name="newTopic" placeholder="Add new topic">
  <button class="btn" type="submit">Submit</button>
</form>

<ul *ngIf="topicAccepted" class="collection green">
  <li class="collection-item">Topic Accepted</li>
</ul>

<ul *ngIf="topicRejected" class="collection red">
  <li class="collection-item">Topic Rejected (Please ensure field is not empty, and not a duplicate topic)</li>
</ul>

<h3>Top 20 Topics</h3>
<ul class="collection" style="padding: 0;">
  <li *ngFor="let topic of getTopTwentyTopics(); let i = index" class="collection-item">
    {{ i+1 }}. Topic: {{ topic.name }}, Votes: {{ topic.votes }}, Submitted by: {{ topic.user }}
  </li>
</ul>

<h3>All Topics</h3>
<ul class="collection" style="padding: 0;">
  <li *ngFor="let topic of getAllTopics()" class="collection-item" style="display: flex;">
    <div style="flex: 1;">
      Topic: {{ topic.name }}, Votes: {{ topic.votes }}, Submitted by: {{ topic.user }}
    </div>

    <div class="secondary-content">
      <button *ngIf="user" class="btn" (click)="upVote(topic)">Up</button>
      <button *ngIf="user" class="btn" (click)="downVote(topic)">Down</button>
    </div>

  </li>
</ul>

<br>
<br>



